body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Header */

.header {
    background-color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header .logo img {
    height: 60px;
}

.header .menu {
    height: inherit;
}

.menu ul {
    height: inherit;
    display: flex;
}

.menu ul li {
    height: inherit;
}

.menu a {
    height: inherit;
    color: #fff;
    font-weight: bold;
    letter-spacing: -.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu a:hover {
    color: #5900fd;
    background: #ccc5d8;
}


/* hero */

.hero {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.hero h1 {
    color: white;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
}

.hero h1 strong {
    color: #5900fd;
}

.hero img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}


/* Arcs */

.arcs {
    background: #fafafa;
    padding: 20px;
}

.arcs h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.arc {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arc h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.arc-details {
    width: 500px;
}

.arc-saga,
.arc-chapters,
.arc-saga {
    margin: 10px 0;
}

.arc-description {
    font-size: 20px;
}

.arc-imageContainer .arc-image {
    width: 500px;
}


/* Mugiwaras */

.mugiwaras-list {
    display: flex;
    flex-wrap: wrap;
}

.mugiwaras-list-title {
    margin-left: 20px;
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.mugiwara {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.mugiwara-image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.mugiwara-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.mugiwara-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.mugiwara-url:hover {
    background: #056fff;
    color: white;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}


/* contact*/

.contact {
    background: #056fff;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-form button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.footer {
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

.container {
    /* border: 1px solid red; */
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}