body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


/* Header */

.header {
    background-color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    flex-wrap: wrap;
}

.header .logo img {
    height: 60px;
}

.header .menu {
    height: inherit;
}

.menu ul {
    height: inherit;
    display: flex;
}

.menu ul li {
    height: inherit;
}

.menu a {
    height: inherit;
    color: #fff;
    font-weight: bold;
    letter-spacing: -.2px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.menu a:hover {
    color: #5900fd;
    background: #ccc5d8;
}


/* hero */

.hero {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    flex-wrap: wrap;
}

.hero h1 {
    color: white;
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
}

.hero h1 strong {
    color: #5900fd;
}

.hero img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}


/* Arcs */

.arcs {
    background: #fafafa;
    padding: 20px;
}

.arcs h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.arc {
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.arc-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.arc-details {
    width: 50%;
}

.arc-saga,
.arc-wiki,
.arc-chapters,
.arc-saga {
    margin: 10px 0;
}

.arc-description {
    font-size: 20px;
}

.arc-imageContainer {
    width: 50%;
}

.arc-imageContainer .arc-image {
    max-width: 100%;
    max-height: 100%;
}


/* Mugiwaras */

.mugiwaras-list {
    display: flex;
    flex-wrap: wrap;
}

.mugiwaras-list-title {
    margin-left: 20px;
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.mugiwara {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.mugiwara-image {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.mugiwara-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.mugiwara-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.mugiwara-url:hover {
    background: #056fff;
    color: white;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}


/* contact*/

.contact {
    background: #056fff;
    height: 150px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-form input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.contact-form button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.footer {
    background: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}


/* Desktop first
Empezar desde el media mas grande 
*/

@media screen and (max-width:1024px) {
    .container {
        padding: 0 1em;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: block;
        height: auto;
    }
    .header .logo {
        text-align: center;
    }
    .menu ul {
        display: block;
    }
    .menu ul li {
        height: 50px;
    }
    .menu ul li a {
        justify-content: center;
    }
    .arc {
        display: block;
    }
    .arc-imageContainer {
        width: auto;
        text-align: center;
    }
    .arc-details {
        width: auto;
        /* font-size: 16px; */
    }
    .arc-saga,
    .arc-wiki,
    .arc-chapters {
        margin: .3em 0;
    }
    .arc-title {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .arc-saga {
        font-size: .7 em;
    }
    .arc-chapters {
        font-size: 1em;
    }
    .arc-wiki {
        font-size: .8em;
    }
    .arc-description {
        font-size: .8em;
    }
    .mugiwara {
        width: auto;
        /* esto es para que no se cambie la dimesion cuando hacen wrap */
        flex-shrink: initial;
    }
    .mugiwara-image {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .arc-details {
        width: auto;
        font-size: 12px;
    }
    .mugiwara-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }
    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }
    .contact-form h3 {
        margin-top: 0;
    }
    .contact-form button {
        margin: 1em auto;
        padding: .5em;
    }
    .footer {
        display: block;
        text-align: center;
        /* padding: 1px */
        border: 1px solid transparent;
        /*padding y border sirven para solucionar el margin colapse*/
    }
}

@media screen and (max-width:320px) {}